NEXT_PUBLIC_IDENTITY_API_URL=https://banklite-identity-service.onrender.com
NEXT_PUBLIC_ACCOUNT_API_URL=https://banklite-account-service.onrender.com
NEXT_PUBLIC_LEDGER_API_URL=https://banklite-ledger-service.onrender.com
NEXT_PUBLIC_TRANSFER_API_URL=https://banklite-transfer-service.onrender.com
